.All{
	font-family: 'Raleway', sans-serif;
	width: 100%;
}

h1{
	font-size: 80px;
	text-shadow: 3px 3px 0.5px grey;
	text-align: center;
}

.Menu {
	background-color: #2CA5BF;
	<!--#3258B2-->
	height: 100px;
	width: 100%;
	position: fixed;
	top: -100px;
	box-shadow: 3px 3px 8px black;
	z-index: 1000;
	opacity: 0.1;
}

.Menu .nav a{
	text-decoration: none;
	color: black;
}

.Menu  .Logo  img{
	float: left;
}

.Menu .nav {
	margin:0 auto;
}

.Menu .nav ul{
	float: right;
	padding: 20px;
	display: none;
}

.Menu .nav li{
	display: inline;
	padding: 20px;
	font-size: 30px;
}

.Menu .nav li:hover{
	text-shadow: 0px 0px 1px black;
}

.jumbotron {
	color: #EEEEEE;
	padding-top: 140px;
	background-image: url('imgs/amsterdam.jpg');
	height: 700px;
}

.jumbotron p{
	text-shadow: 5px 5px 10px black;
}

.jumbotron .Name p{
	font-size: 90px;
	position: relative;
	top: 20px;
	display: none;
}

.jumbotron .Description p{
	font-size: 40px;
	display: none;
}

#AboutUs{
	background-color: white;
	height: 450px;
}

#AboutUs .Image {
	padding: 50px 0px 0px 170px;
}

#AboutUs img{
	border-radius: 6px;
	box-shadow: 2px 2px 7px darkgrey;
}

#AboutUs .About {
	padding: 25px 50px 0px 50px;
	width: 50%;
}

#AboutUs .About h1{
	position: center;
}

#AboutUs .About p{
	font-size: 25px;
	text-align: center;
}

#What {
	height: 650px;
	background-color: #D2E8E4;
	<!--ADFF28 και αυτο ειναι ωραιο νομιζω-->
}

#What h1 {
	padding-top: 35px;
	padding-bottom: 40px;
	
}

#What img {
	margin-bottom: 25px;
	box-shadow: 2px 2px 7px grey;
	border-radius: 3px;
}

#What h3 {
	font-size: 35px;
}

#What p {
	padding: 0px 45px 45px 45px;
	max-width: 500em;
	font-size: 16px;
}

#Work{
	background-color: #E28974;
	height: auto;
	margin-top: -20px;
}

#Work h2{
	font-size: 35px;
}

#Work p{
	font-size: 16px;
}

#Work img {
	border-radius: 3px;
}

#Work .row{
	padding: 30px 0px 20px 0px;
	margin-left: 10%;
}

#Work .border {
	border: 1px solid black;
	width:100%;
	opacity: 0.05;
}

#Work .Image{
	width: 40%;
}

#Work .About{
	text-align: center;
	width: 40%;
}

#Contact {
	background-color: #C2E78E;
	<!--#78B219-->
	height: auto;
}

#Contact .row {
	padding: 30px 0px 20px 0px;
}

#Contact .Info ul{
	list-style-type: none;
}

#Contact .Social a{
	text-decoration: none;
	color: black;
}