.All{
	font-family: 'Raleway', sans-serif;
}

.Menu {
	background-color: #477DFF;
	height: 100px;
	width: 100%;
	position: fixed;
}

.Menu  .Logo  img{
	float: left;
}

.nav {
	margin:0 auto;
}

.nav ul{
	float: right;
	padding: 20px;
}

.nav li{
	display: inline;
	padding: 20px;
	font-size: 30px;
	vertical-align: middle;
}

.nav li:hover{
	text-shadow:0px 0px 1px black;
}

.nav li:click {

}

.jumbotron {
	padding-top: 140px;
	background-color: grey;
}

.AboutUs{
	background-color: #B23317;
}