.All{
	font-family: 'Raleway', sans-serif;
}

.Menu {
	background-color: #477DFF;
	height: 100px;
	width: 100%;
	position: fixed;
}

.Menu .nav a{
	text-decoration: none;
	color: black;
}

.Menu  .Logo  img{
	float: left;
}

.Menu .nav {
	margin:0 auto;
}

.Menu .nav ul{
	float: right;
	padding: 20px;
}

.Menu .nav li{
	display: inline;
	padding: 20px;
	font-size: 30px;
}

.Menu .nav li:hover{
	text-shadow: 0px 0px 1px black;
}

.jumbotron {
	padding-top: 140px;
	height: 700px;
	background-color: #FFFFFF;
}

.jumbotron .Name p{
	font-size: 90px;
}

.jumbotron .Descreption p{
	font-size: 40px;
}

.AboutUs{
	background-color: #B23317;
	height: 400px;
}

.AboutUs .Image {
	float: left;
}

.AboutUs .About {
	float: right;
}