.All{
	font-family: 'Raleway', sans-serif;
}

.Menu {
	background-color: #3258B2;
	height: 100px;
	width: 100%;
	position: fixed;
	top: -100px;
	box-shadow: 3px 3px 8px black;
	z-index: 1000;
	opacity: 0.1;
}

.Menu .nav a{
	text-decoration: none;
	color: black;
}

.Menu  .Logo  img{
	float: left;
}

.Menu .nav {
	margin:0 auto;
}

.Menu .nav ul{
	float: right;
	padding: 20px;
	display: none;
}

.Menu .nav li{
	display: inline;
	padding: 20px;
	font-size: 30px;
}

.Menu .nav li:hover{
	text-shadow: 0px 0px 1px black;
}

.jumbotron {
	color: white;
	padding-top: 140px;
	background-image: url('imgs/jumb2.png');
	height: 700px;
}

.jumbotron p{
	text-shadow: 5px 5px 10px black;
}

.jumbotron .Name p{
	font-size: 90px;
	position: relative;
	top: 20px;
	display: none;
}

.jumbotron .Description p{
	font-size: 40px;
	display: none;
}

#AboutUs{
	background-color: white;
	height: 450px;
}

#AboutUs .Image {
	float: left;
	padding: 50px 0px 0px 300px;
}

#AboutUs .About {
	float: right;
	padding-top: 25px;
}

#AboutUs .About h1{
	font-size: 80px;
	text-shadow: 3px 3px 0.5px black;
}

#AboutUs .About p{
	font-size: 40px;
}

#What {
	height: 650px;
	background-color: #D2E8E4;
	<!--ADFF28 και αυτο ειναι ωραιο νομιζω-->
}

#What h1 {
	padding-top: 35px;
	padding-bottom: 40px;
	font-size: 80px;
}

#What img {
	padding-bottom: 25px;
}

#What h3 {
	font-size: 35px;
}

#What p {
	padding: 0px 45px 45px 45px;
	max-width: 500em;
}