.All{
	font-family: 'Raleway', sans-serif;
}

.Menu {
	background-color: #3258B2;
	height: 100px;
	width: 100%;
	position: fixed;
	box-shadow: 3px 3px 8px black;
	z-index: 1000;
	opacity: 0.1;
}

.Menu .nav a{
	text-decoration: none;
	color: black;
}

.Menu  .Logo  img{
	float: left;
}

.Menu .nav {
	margin:0 auto;
}

.Menu .nav ul{
	float: right;
	padding: 20px;
}

.Menu .nav li{
	display: inline;
	padding: 20px;
	font-size: 30px;
}

.Menu .nav li:hover{
	text-shadow: 0px 0px 1px black;
}

.jumbotron {
	color: white;
	padding-top: 140px;
	background-image: url('imgs/jumb2.png');
	height: 700px;
}

.jumbotron p{
	text-shadow: 5px 5px 10px black;
}

.jumbotron .Name p{
	font-size: 90px;
	position: relative;
	top: 20px;
}

.jumbotron .Descreption p{
	font-size: 40px;
}

.AboutUs{
	background-color: #B23317;
	height: 400px;
}

.AboutUs .Image {
	float: left;
	height: 300px;
	width: 300px;
	padding: 75px 0px 0px 100px;
}

.AboutUs .About {
	float: right;
	padding: 20px 490px 0px 300px;
}

.AboutUs .About h1{
	font-size: 80px;
	text-shadow: 3px 3px 0.5px black;
}

.AboutUs .About p{
	font-size: 40px;
}